<div class="ui grid">
    <div class="two column row">
        <div class="column">
            <img src="https://images.unsplash.com/photo-1441148345475-03a2e82f9719?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fbf40a1199089ae74b75010d4ed14724&w=1000&q=80">
        </div>
        <div class="column">
            {{ form_start(form) }}
            {{ form_row(form.type) }}
            {{ form_row(form.header) }}
            {{ form_row(form.subHeader) }}
            {{ form_row(form.description) }}
            {{ form_end(form, {'render_rest': false}) }}

            {{ include(':Admin/ProductDescription:_delete_form.html.twig') }}
        </div>
    </div>
</div>
