{% set product = variant.product %}

<div class="item-header large-offset-1">
    <div class="content">
        <div class="sylius-product-name">{{ item.productName }}</div>
        {% if product.hasOptions() %}
            <ul class="sylius-product-options">
                {% for optionValue in variant.optionValues %}
                    <li class="" data-sylius-option-name="{{ optionValue.name }}">
                        <span>{{ optionValue.name }}: {{ optionValue.value }}</span>
                    </li>
                {% endfor %}
            </ul>
            {#  {% elseif item.variantName is not null %}
            <div class="ui horizontal divided list">
                <div class="item sylius-product-variant-name">
                    {{ item.variantName }}
                </div>
            </div> #}
        {% endif %}
        {#<span class="sub header sylius-product-variant-code">#}
        {#{{ variant.code }}#}
        {#</span>#}
    </div>
</div>