{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
<div class="bt-card" >
    <a href="/category-{{ container.slug }}" class="image">
        {# <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <h5 class="header">{{ container.name }}</h5>
                    <div class="price">from ${{ container.price }}</div>
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div> #}
        {% if container.images | length > 0 %}
            <img src="/media/image/{{ container.images.0.path }}" alt="{{ container.name }}" class="ui bordered image"/>
        {% endif %}
    </a>
    <div class="content">
        <a href="/category-{{ container.slug }}" class="header sylius-product-name">{{ container.name }}
            <span class="bt-svg-icon popup" data-position="top center">
                <div class="bt-icon yellow bt-attention"></div>
            </span>
            <div class="ui popup transition hidden">
                <div class="content">
                    <span class="bt-svg-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="#fefefe">
                            <path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z"/>
                            <path d="M11 15h2v2h-2zM11 7h2v6h-2z"/>
                        </svg>
                    </span>
                    <span>
                    <span>Enter your VIN</span>
                        to check if your car has it</span>
                </div>
            </div>&nbsp;
        </a>

        {# Need to be added to view according by mockup #}
        {# {% include '@SyliusShop/Product/Show/_reviews.html.twig' %} #}

        {% if container.price is not empty %}
            <div class="sylius-product-price">from ${{ container.price }}</div>
        {% endif %}
    </div>
    {#     <div>
        {{ container.Description }}
    </div> #}
</div>