{% block subject %}
    Your BimmerTech customer account password has been reset.
{% endblock %}

{% block body %}

    <p>Hi {{ data.user.Customer.FullName }},</p>

    <p>
        The password to your BimmerTech customer account has successfully been reset. Your log-in details are:
    </p>
    <p><b>Email address: {{ data.user.Email }}</b></p>
    <p><b>Password: {{ data.password }}</b></p>

    <p>After logging in to your account, we recommend changing your password.</p>
    <p>Didn't reset your BimmerTech password? Please <a href="{{ app.request.getSchemeAndHttpHost() }}{{ path( 'sylius_shop_contact_request') }}">let us know</a>.</p>


{% endblock %}